@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --purple: #5613a3;
  --purple-light: #b47ef1;
  --sky-blue: #3fc5f0;
  --white: #ffffff;
  --gray: #949490;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}
header {
  background-color: var(--purple);
  width: 100%;
  height: 100vh;
  border-radius: 0 0 5% 5%;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
  flex-direction: row;
}
.heder__nav {
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
nav {
  width: 90%;
  justify-content: space-between;
}
.header__logo img {
  width: 6rem;
  height: 2rem;
  margin-left: 8%;
}
.nav__list {
  align-items: center;
}
.nav__list li {
  list-style: none;
  margin: 0 10%;
  color: var(--white);
  font-size: 1.2rem;
  margin: 0 3rem;
}
li:active {
  color: var(--purple-light);
}
.btn {
  background-color: var(--sky-blue);
  color: var(--white);
  border: 1px solid var(--purple-light);
  border-radius: 5px;
}
.btn:hover {
  transform: translateY(-0.5rem);
  background-color: var(--purple-light);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}
.nav__btn {
  padding: 0.7rem;
  font-size: 1rem;
}
.header__text {
  padding: 5%;
  width: 50%;
}
.header__text h1 {
  font-size: 3rem;
  color: var(--white);
}
.header__text p {
  padding: 8% 0;
  font-size: 1rem;
  color: var(--white);
}
.header__btn {
  padding: 1rem;
  font-size: 1.5rem;
}
.header__img {
  width: 50%;
}
.header__img img {
  padding-top: 5%;
  width: 30rem;
  height: 25;
  overflow: hidden;
  opacity: 0.5;
}
.info__section {
  width: 100%;
  padding-top: 5%;
}
.info__div {
  width: 80%;
  margin: auto;
}
.info__img {
  width: 50%;
  padding: 4% 1% 0 1%;
}
.info__img img {
  width: 35rem;
  height: 25rem;
}
.info__text {
  width: 50%;
  padding-left: 10%;
}
.info__text h3 {
  font-size: 2rem;
  padding: 4% 0 4% 0;
}
.info__text-sub {
  padding: 4% 0 0 5%;
}
.info__text-sub h4 {
  font-size: 1.1rem;
  padding-bottom: 2%;
}
.info__text-sub p {
  font-size: 0.8rem;
  padding-bottom: 2%;
}

.orange {
  color: #ffa500;
}
.green {
  color: #00ff2a;
}
.blue {
  color: #2600ff;
}
.products__section {
  width: 100%;
  padding-top: 4%;
}
.products__div {
  width: 80%;
  margin: auto;
}
.products__heading {
  font-size: 1.8rem;
  text-align: center;
}
.products__card {
  padding-top: 5%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.card {
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.7);
  border-radius: 0 25px 0 25px;
  padding: 2%;
  width: 15rem;
  margin: 1%;
  transition: all 0.5s linear;
}
.card:active,
.card:hover {
  color: var(--purple);
  transform: scale(1.2);
}
.icon {
  text-align: center;
  width: 8rem;
  height: 8rem;
  margin: auto;
  border-radius: 50%;
  padding-top: 1rem;
  font-size: 4rem;
}

.fa-solid {
  padding: 0.5rem;
}
.code {
  background-color: #ebd6af70;
  color: #fcc662;
}
.data {
  background-color: #6962c970;
  color: #8474c7;
}
.secure {
  background-color: #92856c70;
  color: #6b6353;
}
.support {
  background-color: #3e703770;
  color: #759e74;
}
.card__text {
  text-align: center;
  padding-top: 5%;
}
.card__text h4 {
  font-size: 1rem;
  padding-bottom: 5%;
}
.card__text p {
  font-size: 0.8rem;
}
footer {
  margin: 5% 0;
  padding: 2% 0;
  width: 100%;
  background-color: var(--purple);
}
.footer__nav {
  width: 80%;
  margin: auto;
}
.footer__logo {
  padding-left: 25%;
}
.footer__logo img {
  width: 6rem;
}
.footer__icon-social {
  align-items: center;
  gap: 3rem;
  padding-left: 30%;
  font-size: 1.5rem;
  color: var(--gray);
}
.fa-brands {
  transition: all 0.5s linear;
}
.fa-brands:hover {
  transform: scale(1.2);
  color: var(--sky-blue);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.7);
}
@media (max-width: 700px) {
  header {
    height: 80vh;
  }
  nav {
    justify-content: left;
    align-items: center;
  }
  .header__logo img {
    width: 4rem;
    height: 1.5rem;
  }

  .nav__list li {
    font-size: 0.5rem;
    margin: 0 0.5rem;
  }

  .nav__btn {
    padding: 0.3rem;
    font-size: 0.6rem;
  }
  .header__main {
    width: 95%;
    padding: 5%;
  }

  .header__text h1 {
    font-size: 1.5rem;
  }
  .header__text p {
    padding: 8% 0;
    font-size: 0.9rem;
  }
  .header__btn {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .header__img img {
    padding-top: 5%;
    width: 13rem;
    height: 13rem;
  }
  .info__section {
    width: 90%;
    padding-top: 5%;
  }

  .info__img {
    padding: 10% 1% 0 1%;
  }
  .info__img img {
    width: 13rem;
    height: 13rem;
  }

  .info__text h3 {
    font-size: 1rem;
  }
  .info__text-sub h4 {
    font-size: 0.8rem;
  }
  .info__text-sub p {
    font-size: 0.6rem;
  }

  .products__heading {
    font-size: 1rem;
  }
  .products__card {
    gap: 1rem;
  }
  .card {
    padding: 2%;
    width: 7rem;
    margin: 1%;
  }
  .icon {
    width: 4rem;
    height: 4rem;
    font-size: 1rem;
  }

  .card__text h4 {
    font-size: 0.8rem;
  }
  .card__text p {
    font-size: 0.6rem;
  }
  footer {
    margin: 5% 0;
    padding: 2% 0;
    width: 100%;
    background-color: var(--purple);
  }
  .footer__nav {
    width: 80%;
    margin: auto;
  }
  .footer__logo {
    padding-left: 25%;
  }
  .footer__logo img {
    width: 4rem;
  }
  .footer__icon-social {
    align-items: center;
    gap: 1rem;
    padding-left: 10%;
    font-size: 1rem;
  }
}
